* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "League Spartan";
    font-size: 15px;
    background-color:hsl(0, 0%, 100%);
    color:hsl(300, 43%, 22%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bg-img{
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-bg-img{
    position: fixed;
    bottom: 0;
    right: 0;
}
 
.overall-container {
    width: 57vw;
}

.top-container {
    display: flex;
    align-items: center;
}

.intro-container{
    flex: 1;
}

h1 {
    width: 400px;
    font-size: 3.125rem;
}

.description {
    width: 400px;
    padding-top: 2rem;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: hsl(303, 10%, 53%);
}

.reviews-container{
    flex: 1;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 1rem;
}

.review-1,
.review-2,
.review-3 {
    width: 420px;
    height: 2rem;
    padding: 0.8rem;
    border-radius: 0.625rem;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.review-1 {
    margin-right: 5rem;
}

.review-2 {
    margin-right: 2.5rem;
}

.stars {
    padding-left: 1rem;
}

.star {
    padding-left: 5px;
}

.review-text {
    padding-left: 2rem;
}

.testimonies-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 22px;
    padding-top: 30px;
}

.testimony-1,
.testimony-2,
.testimony-3 {
    min-width: 230px;
    height: auto;
    border-radius: 5px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    padding: 2.5rem;
}

.testimony-2 {
    margin-top: 1.6rem;
}

.testimony-3 {
    margin-top: 3.2rem;
}

.user {
    display: flex;
    align-items: center;
}

.img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

.username {
    padding-left: 20px;
}

.verified {
    color: hsl(333, 80%, 67%);
    padding-top: 5px;
}

.testimony-text {
    padding-top: 1.5rem;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2.5rem;
    padding-top: 1.25rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1000px) {
    body {
        overflow-y: scroll;
    }
    
    .overall-container {
        height: 100vh;
    }

    .top-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        width: 70vw;
        margin-top: 6.25rem;
    }

    .description {
        width: 70vw;
    }

    .reviews-container {
        margin-top: 2.5rem;
    }

    .review-1,
    .review-2,
    .review-3 {
        width: 70vw;
        height: auto;
        padding: 1rem;
        background-color: hsl(300, 24%, 96%);
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .review-1 {
        margin-right: 0;
    }
    
    .review-2 {
        margin-right: 0;
    }

    .stars {
        padding-left: 0;
    }

    .review-text {
        padding-left: 0;
        padding-top: 0.625rem;
    }
    
    .testimonies-container {
        flex-direction: column;
        padding-top: 3.2rem;
    }

    .testimony-3 {
        margin-top: 1.6rem;
        margin-bottom: 6.25rem;
    }

    .attribution {
        background-color:hsl(0, 0%, 100%);
    }

}